numpy==1.26.4
opencv-python-headless==4.10.0.84
typing-extensions==4.12.2
lap==0.5.12
matplotlib==3.9.2
pillow==10.4.0
PyYAML==6.0.2
requests==2.32.3
scipy==1.14.1
psutil==6.0.0
polars==1.9.0
ultralytics-thop==2.0.18
